<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Express Routes App</title>
</head>
<body>
  <form method="POST" action="/names">
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
  <ul>
    <% for(name in names){ %>
      <li><%= names[name].name %> <%= names[name].checkins %></li>
    <% } %>
  </ul>
</body>
</html>
